# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: windows-latest

steps:
- task: UiPathInstallPlatform@3
  inputs:
    cliVersion: 'WIN_22.10.8438.32859'

- task: UiPathTest@3
  inputs:
    testTarget: 'TestProject'
    orchestratorConnection: 'OrchestratorConn'
    testProjectPath: '$(Build.SourcesDirectory)'
    folderName: 'ManuLife'
    testReportDestination: '$(Build.ArtifactStagingDirectory)\Output'
    traceLevel: 'Information'
    attachRobotLogs: true
